
1. Create a string containing both a single quote a double quote 
2.Create a triple quoted string that contains single and double quotes.

In [74]:
string = 'Hello "double quotes", '"'"'single quotes'"'"''

string

'Hello "double quotes", \'single quotes\' '

In [69]:
stringx = "Hello \"double quotes\", 'single quotes'"

stringx

'Hello "double quotes", \'single quotes\''

In [26]:
my_string = """Using "double" here 'single' here"""
my_string

'Using "double" here \'single\' here'

3.Create a character, then obtain its integer representation.

In [31]:
char = 'b'

ord(char)

98

4.Create a single string containing 5 copies of the string 'abc'.

In [32]:
st= 'abc'
print(st*5)

abcabcabcabcabc

5.Use the multiplication operator to create a "line" of 50 dashes.

In [33]:
dash = '-'
print(dash*50)

--------------------------------------------------

6.Convert a string to all upper case.

In [36]:
sol_6 = "Convert a string to all upper case."

sol_6.upper()

'CONVERT A STRING TO ALL UPPER CASE.'

7 : Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string.

In [44]:
given_string = "firstlast"

given_string[0:2]+given_string[-2:]

'fist'

8: a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.
Sample String : 'restart'
Expected Result : 'resta$t'

In [52]:
string_occ='restart'
char_occ = string_occ[0]
str_new = string_occ.replace(char_occ, '$')
print(str_new)
str_new = char_occ + str_new[1:]

print(str_new)

$esta$t
resta$t


9: Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
Sample String : 'abc', 'xyz' 
Expected Result : 'xyc abz'

In [58]:
string1='abc'
string2='xyz'

string2[0:2]+string1[2:]+" "+string1[0:2]+string2[2:]

'xyc abz'